a{
background-size: 16px 16px;
background-image: url('../images/download.png');
background-repeat: no-repeat;padding-left: 1em;
}

a{
    background-image: url('../images/download.png');
    background-size: 16px 16px;
}