div.col-1, div.col-2, div.col-3, div.col-4, div.col-5, div.col-6, div.col-7, div.col-8, div.col-9, div.col-10 {
    height: 200px;
    margin: 30px auto;
}

.dark {
    background-color: darkgray;
}

.light {
    background-color: lightgray;
}
